.elementor-8542 .elementor-element.elementor-element-ed3728b .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-78c786a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-8542 .elementor-element.elementor-element-78c786a {
    width: 100% !important;
}

.elementor-8542 .elementor-element.elementor-element-c43422a .home-slider-vegas-wrapper {
    height: 100vh;
    min-height: 100vh;
}

.elementor-8542 .elementor-element.elementor-element-c43422a .nt-vegas-slide-content .slider_hero_title {
    font-family: "Zilla Slab", Sans-serif;
    font-weight: 900;
}

.elementor-8542 .elementor-element.elementor-element-c43422a {
    width: 100%;
    max-width: 100%;
}

.elementor-8542 .elementor-element.elementor-element-9d18af8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-9d18af8 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-9d18af8 {
    transition: background 0s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-9d18af8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-1d87cc8 {
    text-align: center;
}

.elementor-8542 .elementor-element.elementor-element-1d87cc8 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-6aa87d7-font-family), Sans-serif;
    font-size: var( --e-global-typography-6aa87d7-font-size);
    font-weight: var( --e-global-typography-6aa87d7-font-weight);
    text-transform: var( --e-global-typography-6aa87d7-text-transform);
    line-height: var( --e-global-typography-6aa87d7-line-height);
    letter-spacing: var( --e-global-typography-6aa87d7-letter-spacing);
    word-spacing: var( --e-global-typography-6aa87d7-word-spacing);
}

.elementor-8542 .elementor-element.elementor-element-6547002 {
    text-align: center;
}

.elementor-8542 .elementor-element.elementor-element-6547002>.elementor-widget-container {
    padding: 20px 100px 050px 100px;
}

.elementor-8542 .elementor-element.elementor-element-d48679d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-8542 .elementor-element.elementor-element-d48679d .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-377fe43.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-377fe43.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-377fe43>.elementor-element-populated>.elementor-widget-wrap {
    padding: 15px 50px 15px 15px;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-fe7d40c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-fe7d40c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-6f87d19 .elementor-heading-title {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-8542 .elementor-element.elementor-element-6f87d19>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-8542 .elementor-element.elementor-element-0d53a74 .wavo-button:not(.btn-justify) {
    text-align: left;
}

.elementor-8542 .elementor-element.elementor-element-0d53a74 .wavo-button .btn-icon-left i {
    margin-right: 20px;
}

.elementor-8542 .elementor-element.elementor-element-0d53a74 .wavo-button .btn-icon-right i {
    margin-left: 20px;
}

.elementor-8542 .elementor-element.elementor-element-0d53a74 .wavo-btn:hover span {
    color: var( --e-global-color-577d3e04);
}

.elementor-8542 .elementor-element.elementor-element-0d53a74>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-2b2bd01:not(.elementor-motion-effects-element-type-background),
.elementor-8542 .elementor-element.elementor-element-2b2bd01>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25483ea);
}

.elementor-8542 .elementor-element.elementor-element-2b2bd01 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-2b2bd01 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-2b2bd01>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-8bb297c {
    text-align: center;
}

.elementor-8542 .elementor-element.elementor-element-8bb297c .elementor-heading-title.animated .char {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
}

.elementor-8542 .elementor-element.elementor-element-8bb297c .elementor-heading-title.animated .word {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--word-index));
    animation-delay: calc(30ms * var(--word-index));
}

.elementor-8542 .elementor-element.elementor-element-8bb297c .elementor-heading-title.splitting .whitespace {
    width: 10px;
}

.elementor-8542 .elementor-element.elementor-element-8bb297c .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Tahoma", Sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8542 .elementor-element.elementor-element-8bb297c>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-e2ebe30 {
    text-align: center;
}

.elementor-8542 .elementor-element.elementor-element-e2ebe30 .elementor-heading-title {
    color: var( --e-global-color-33236d48);
    font-family: "Zilla Slab", Sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.elementor-8542 .elementor-element.elementor-element-e2ebe30>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-8542 .elementor-element.elementor-element-2cd3af0:not(.elementor-motion-effects-element-type-background),
.elementor-8542 .elementor-element.elementor-element-2cd3af0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25483ea);
}

.elementor-8542 .elementor-element.elementor-element-2cd3af0 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-2cd3af0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-2cd3af0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-df1a6bd>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 60px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-2423704 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-8542 .elementor-element.elementor-element-2423704.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-2423704.elementor-view-framed .elementor-icon,
.elementor-8542 .elementor-element.elementor-element-2423704.elementor-view-default .elementor-icon {
    color: var( --e-global-color-33236d48);
    border-color: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-2423704.elementor-view-framed .elementor-icon,
.elementor-8542 .elementor-element.elementor-element-2423704.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-2423704 .elementor-icon {
    font-size: 100px;
}

.elementor-8542 .elementor-element.elementor-element-2423704 .elementor-icon i,
.elementor-8542 .elementor-element.elementor-element-2423704 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-8542 .elementor-element.elementor-element-2423704>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-8542 .elementor-element.elementor-element-1ecb59c .elementor-heading-title {
    color: var( --e-global-color-33236d48);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-8542 .elementor-element.elementor-element-1ecb59c>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-8542 .elementor-element.elementor-element-54f694d .elementor-heading-title {
    color: #C2C2C2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-8542 .elementor-element.elementor-element-54f694d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-80fd06f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-8542 .elementor-element.elementor-element-80fd06f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-2ab38d3 {
    text-align: left;
}

.elementor-8542 .elementor-element.elementor-element-2ab38d3 img {
    height: 100px;
}

.elementor-8542 .elementor-element.elementor-element-2ab38d3>.elementor-widget-container {
    margin: 0px 0px 36px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-b7d632b .elementor-heading-title {
    color: var( --e-global-color-33236d48);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-8542 .elementor-element.elementor-element-b7d632b>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-8542 .elementor-element.elementor-element-f24d685 .elementor-heading-title {
    color: var( --e-global-color-83915f9);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-8542 .elementor-element.elementor-element-f24d685>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 60px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-0387ad4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 60px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-0690b7a .elementor-icon-wrapper {
    text-align: left;
}

.elementor-8542 .elementor-element.elementor-element-0690b7a.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-0690b7a.elementor-view-framed .elementor-icon,
.elementor-8542 .elementor-element.elementor-element-0690b7a.elementor-view-default .elementor-icon {
    color: var( --e-global-color-33236d48);
    border-color: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-0690b7a.elementor-view-framed .elementor-icon,
.elementor-8542 .elementor-element.elementor-element-0690b7a.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-33236d48);
}

.elementor-8542 .elementor-element.elementor-element-0690b7a .elementor-icon {
    font-size: 100px;
}

.elementor-8542 .elementor-element.elementor-element-0690b7a .elementor-icon i,
.elementor-8542 .elementor-element.elementor-element-0690b7a .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-8542 .elementor-element.elementor-element-0690b7a>.elementor-widget-container {
    margin: 0px 0px 25px -3px;
}

.elementor-8542 .elementor-element.elementor-element-fceba1d .elementor-heading-title {
    color: var( --e-global-color-33236d48);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-8542 .elementor-element.elementor-element-fceba1d>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-8542 .elementor-element.elementor-element-588a587 .elementor-heading-title {
    color: var( --e-global-color-83915f9);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-8542 .elementor-element.elementor-element-588a587>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-fd45545:not(.elementor-motion-effects-element-type-background),
.elementor-8542 .elementor-element.elementor-element-fd45545>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25483ea);
}

.elementor-8542 .elementor-element.elementor-element-fd45545 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-fd45545 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 100px 0px;
}

.elementor-8542 .elementor-element.elementor-element-fd45545>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-5545193 .wavo-button:not(.btn-justify) {
    text-align: center;
}

.elementor-8542 .elementor-element.elementor-element-5545193 .wavo-button .btn-icon-left i {
    margin-right: 20px;
}

.elementor-8542 .elementor-element.elementor-element-5545193 .wavo-button .btn-icon-right i {
    margin-left: 20px;
}

.elementor-8542 .elementor-element.elementor-element-20fd7e7 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-20fd7e7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-8542 .elementor-element.elementor-element-20fd7e7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-028dbf3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-8542 .elementor-element.elementor-element-028dbf3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-5325dc1 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-5325dc1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-8542 .elementor-element.elementor-element-a0f2b9d .elementor-heading-title.animated .char {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
}

.elementor-8542 .elementor-element.elementor-element-a0f2b9d .elementor-heading-title.animated .word {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--word-index));
    animation-delay: calc(30ms * var(--word-index));
}

.elementor-8542 .elementor-element.elementor-element-a0f2b9d .elementor-heading-title.splitting .whitespace {
    width: 10px;
}

.elementor-8542 .elementor-element.elementor-element-a0f2b9d .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Tahoma", Sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8542 .elementor-element.elementor-element-a0f2b9d>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-3e72df5>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-8542 .elementor-element.elementor-element-76b072c .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-76b072c {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-59b48c4.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-59b48c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-fe5ae92 img {
    width: 26%;
}

.elementor-8542 .elementor-element.elementor-element-fe5ae92:hover img {
    filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-934d1e2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-934d1e2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-19641f0 img {
    width: 54%;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-5176103.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-5176103.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-9fd00b8 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-9fd00b8 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-43ecd88.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-43ecd88.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-a39230f img {
    width: 36%;
}

.elementor-8542 .elementor-element.elementor-element-a39230f:hover img {
    filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-8137f4c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-8137f4c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-8a96d95 img {
    width: 35%;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-e8d30bc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-e8d30bc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-0d748ed img {
    width: 34%;
}

.elementor-8542 .elementor-element.elementor-element-3a135049>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-3a135049:not(.elementor-motion-effects-element-type-background),
.elementor-8542 .elementor-element.elementor-element-3a135049>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("../../img/office2sm.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-8542 .elementor-element.elementor-element-3a135049>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.66;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8542 .elementor-element.elementor-element-3a135049 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8542 .elementor-element.elementor-element-3a135049 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-8542 .elementor-element.elementor-element-6982ef98.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-6982ef98.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8542 .elementor-element.elementor-element-311f90ef .elementor-heading-title.animated .char {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
}

.elementor-8542 .elementor-element.elementor-element-311f90ef .elementor-heading-title.animated .word {
    -webkit-animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp2 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--word-index));
    animation-delay: calc(30ms * var(--word-index));
}

.elementor-8542 .elementor-element.elementor-element-311f90ef .elementor-heading-title.splitting .whitespace {
    width: 10px;
}

.elementor-8542 .elementor-element.elementor-element-311f90ef .elementor-heading-title {
    color: var( --e-global-color-33236d48);
    font-family: "Tahoma", Sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8542 .elementor-element.elementor-element-311f90ef>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-4a2dca3b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Zilla Slab", Sans-serif;
    font-weight: 900;
    line-height: 1em;
}

.elementor-8542 .elementor-element.elementor-element-4a2dca3b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8542 .elementor-element.elementor-element-24e0868c .wavo-button:not(.btn-justify) {
    text-align: right;
}

.elementor-8542 .elementor-element.elementor-element-24e0868c .wavo-button .btn-icon-left i {
    margin-right: 20px;
}

.elementor-8542 .elementor-element.elementor-element-24e0868c .wavo-button .btn-icon-right i {
    margin-left: 20px;
}

@media(max-width:1024px) {
    .elementor-8542 .elementor-element.elementor-element-1d87cc8 .elementor-heading-title {
        font-size: var( --e-global-typography-6aa87d7-font-size);
        line-height: var( --e-global-typography-6aa87d7-line-height);
        letter-spacing: var( --e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var( --e-global-typography-6aa87d7-word-spacing);
    }
    .elementor-8542 .elementor-element.elementor-element-5545193 .wavo-button:not(.btn-justify) {
        text-align: left;
    }
    .elementor-8542 .elementor-element.elementor-element-3a135049 {
        padding: 60px 10px 60px 10px;
    }
    .elementor-8542 .elementor-element.elementor-element-495746f6>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-24e0868c .wavo-button:not(.btn-justify) {
        text-align: left;
    }
}

@media(max-width:767px) {
    .elementor-8542 .elementor-element.elementor-element-c43422a .nt-vegas-slide-content .slider_hero_title {
        font-size: 50px;
        line-height: 1.2em;
    }
    .elementor-8542 .elementor-element.elementor-element-9d18af8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 60px 0px 60px 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-1d87cc8 .elementor-heading-title {
        font-size: var( --e-global-typography-6aa87d7-font-size);
        line-height: var( --e-global-typography-6aa87d7-line-height);
        letter-spacing: var( --e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var( --e-global-typography-6aa87d7-word-spacing);
    }
    .elementor-8542 .elementor-element.elementor-element-6547002 .elementor-heading-title {
        font-size: 31px;
    }
    .elementor-8542 .elementor-element.elementor-element-6547002>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-8542 .elementor-element.elementor-element-2cd3af0 {
        padding: 0px 20px 0px 20px;
    }
    .elementor-8542 .elementor-element.elementor-element-2ab38d3>.elementor-widget-container {
        margin: 60px 0px 0px 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-0690b7a>.elementor-widget-container {
        padding: 60px 0px 0px 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-5545193 .wavo-button:not(.btn-justify) {
        text-align: left;
    }
    .elementor-8542 .elementor-element.elementor-element-5545193>.elementor-widget-container {
        margin: 0px 0px 0px 40px;
    }
    .elementor-8542 .elementor-element.elementor-element-59b48c4>.elementor-element-populated {
        margin: 20px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-934d1e2>.elementor-element-populated {
        margin: 20px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-5176103>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-8137f4c>.elementor-element-populated {
        margin: 40px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8542 .elementor-element.elementor-element-e8d30bc>.elementor-element-populated {
        margin: 20px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width:768px) {
    .elementor-8542 .elementor-element.elementor-element-78c786a {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-377fe43 {
        width: 59.478%;
    }
    .elementor-8542 .elementor-element.elementor-element-fe7d40c {
        width: 40.522%;
    }
    .elementor-8542 .elementor-element.elementor-element-57f56dd {
        width: 25%;
    }
    .elementor-8542 .elementor-element.elementor-element-14aed0d {
        width: 49.332%;
    }
    .elementor-8542 .elementor-element.elementor-element-41f7180 {
        width: 25%;
    }
    .elementor-8542 .elementor-element.elementor-element-97eac6a {
        width: 53.217%;
    }
    .elementor-8542 .elementor-element.elementor-element-4265d64 {
        width: 46.116%;
    }
    .elementor-8542 .elementor-element.elementor-element-6982ef98 {
        width: 72.222%;
    }
    .elementor-8542 .elementor-element.elementor-element-495746f6 {
        width: 27.355%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-8542 .elementor-element.elementor-element-377fe43 {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-fe7d40c {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-97eac6a {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-4265d64 {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-6982ef98 {
        width: 100%;
    }
    .elementor-8542 .elementor-element.elementor-element-495746f6 {
        width: 100%;
    }
}

@media(min-width:1025px) {
    .elementor-8542 .elementor-element.elementor-element-3a135049:not(.elementor-motion-effects-element-type-background),
    .elementor-8542 .elementor-element.elementor-element-3a135049>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}