.elementor-8712 .elementor-element.elementor-element-3b9fd5a .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-3b9fd5a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-3b9fd5a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-273cdd3>.elementor-container {
    min-height: 400px;
}

.elementor-8712 .elementor-element.elementor-element-273cdd3>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8712 .elementor-element.elementor-element-273cdd3 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-12d9160 .elementor-heading-title {
    color: var(--e-global-color-83915f9);
    font-family: var(--e-global-typography-6aa87d7-font-family), Sans-serif;
    font-size: var(--e-global-typography-6aa87d7-font-size);
    font-weight: var(--e-global-typography-6aa87d7-font-weight);
    text-transform: var(--e-global-typography-6aa87d7-text-transform);
    line-height: var(--e-global-typography-6aa87d7-line-height);
    letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
    word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
}

.elementor-8712 .elementor-element.elementor-element-2b17cf3 .elementor-heading-title {
    color: var(--e-global-color-33236d48);
    line-height: 1.2em;
}

.elementor-8712 .elementor-element.elementor-element-02bee95>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-02bee95:not(.elementor-motion-effects-element-type-background),
.elementor-8712 .elementor-element.elementor-element-02bee95>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-577d3e04);
}

.elementor-8712 .elementor-element.elementor-element-02bee95 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-02bee95 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
}

.elementor-8712 .elementor-element.elementor-element-02bee95>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-97112a2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8712 .elementor-element.elementor-element-97112a2 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-97112a2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8712 .elementor-element.elementor-element-3ebdc05>.elementor-element-populated {
    color: var(--e-global-color-33236d48);
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-8712 .elementor-element.elementor-element-3ebdc05>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-8712 .elementor-element.elementor-element-2d3ccd0 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-6aa87d7-font-family), Sans-serif;
    font-size: var(--e-global-typography-6aa87d7-font-size);
    font-weight: var(--e-global-typography-6aa87d7-font-weight);
    text-transform: var(--e-global-typography-6aa87d7-text-transform);
    line-height: var(--e-global-typography-6aa87d7-line-height);
    letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
    word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
}

.elementor-8712 .elementor-element.elementor-element-2d3ccd0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8712 .elementor-element.elementor-element-dc0c7f9 p.author,
.elementor-8712 .elementor-element.elementor-element-dc0c7f9 p a {
    font-weight: 300;
}

.elementor-8712 .elementor-element.elementor-element-6c54433>.elementor-element-populated {
    color: var(--e-global-color-33236d48);
}

.elementor-8712 .elementor-element.elementor-element-9201fa4 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-6aa87d7-font-family), Sans-serif;
    font-size: var(--e-global-typography-6aa87d7-font-size);
    font-weight: var(--e-global-typography-6aa87d7-font-weight);
    text-transform: var(--e-global-typography-6aa87d7-text-transform);
    line-height: var(--e-global-typography-6aa87d7-line-height);
    letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
    word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
}

.elementor-8712 .elementor-element.elementor-element-9201fa4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8712 .elementor-element.elementor-element-8bd632e p.author,
.elementor-8712 .elementor-element.elementor-element-8bd632e p a {
    font-weight: 300;
}

.elementor-8712 .elementor-element.elementor-element-b5ba69e>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-b5ba69e:not(.elementor-motion-effects-element-type-background),
.elementor-8712 .elementor-element.elementor-element-b5ba69e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-566258b);
}

.elementor-8712 .elementor-element.elementor-element-b5ba69e .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-b5ba69e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-b5ba69e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-70276e8 {
    font-weight: 300;
}

.elementor-8712 .elementor-element.elementor-element-44d4865>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-44d4865 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-b61df2e.wavo-headig-line .elementor-heading-title {
    padding-left: 70px;
}

.elementor-8712 .elementor-element.elementor-element-b61df2e.wavo-headig-line .elementor-heading-title::after {
    bottom: 45%;
}

.elementor-8712 .elementor-element.elementor-element-b61df2e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-8712 .elementor-element.elementor-element-d84a2e6 {
    text-align: left;
    font-weight: 300;
    line-height: 2em;
}

.elementor-8712 .elementor-element.elementor-element-c94a3a2 .reveal-holder .reveal-block::before {
    background-color: var(--e-global-color-primary);
}

.elementor-8712 .elementor-element.elementor-element-c94a3a2>.elementor-widget-container {
    margin: 40px 0px 40px 0px;
}

.elementor-8712 .elementor-element.elementor-element-b00ef56>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-b00ef56:not(.elementor-motion-effects-element-type-background),
.elementor-8712 .elementor-element.elementor-element-b00ef56>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-566258b);
}

.elementor-8712 .elementor-element.elementor-element-b00ef56 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-b00ef56 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-b00ef56>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-0521172.wavo-headig-line .elementor-heading-title {
    padding-left: 70px;
}

.elementor-8712 .elementor-element.elementor-element-0521172.wavo-headig-line .elementor-heading-title::after {
    bottom: 45%;
}

.elementor-8712 .elementor-element.elementor-element-0521172>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-8712 .elementor-element.elementor-element-268ec99 {
    text-align: left;
    font-weight: 300;
    line-height: 2em;
}

.elementor-bc-flex-widget .elementor-8712 .elementor-element.elementor-element-b81d270.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-8712 .elementor-element.elementor-element-b81d270.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-8712 .elementor-element.elementor-element-b81d270.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-8712 .elementor-element.elementor-element-b38c946 img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-566258b);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 15px 15px 31px 0px rgba(0, 0, 0, 0.2);
}

.elementor-8712 .elementor-element.elementor-element-80b5f00>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-80b5f00:not(.elementor-motion-effects-element-type-background),
.elementor-8712 .elementor-element.elementor-element-80b5f00>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-566258b);
}

.elementor-8712 .elementor-element.elementor-element-80b5f00 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-80b5f00 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-80b5f00>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8712 .elementor-element.elementor-element-02ee89c img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-02ee89c>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-1a42ff9 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-1a42ff9>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-279c5b9 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-279c5b9>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-666e648 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-666e648>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-40204a7 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-40204a7>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-c27c84f img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-33236d48);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.14);
}

.elementor-8712 .elementor-element.elementor-element-c27c84f>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-8712 .elementor-element.elementor-element-cbbca3d>.elementor-container {
    max-width: 1024px;
}

.elementor-8712 .elementor-element.elementor-element-cbbca3d .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-084f736.wavo-headig-line .elementor-heading-title {
    padding-left: 70px;
}

.elementor-8712 .elementor-element.elementor-element-084f736.wavo-headig-line .elementor-heading-title::after {
    bottom: 45%;
}

.elementor-8712 .elementor-element.elementor-element-084f736>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-8712 .elementor-element.elementor-element-1ca2e6c {
    text-align: left;
    font-weight: 300;
    line-height: 2em;
}

.elementor-8712 .elementor-element.elementor-element-48e64b7>.elementor-widget-container {
    margin: 60px 0px 60px 0px;
}

.elementor-8712 .elementor-element.elementor-element-650f907 .elementor-background-overlay {
    width: 100%;
    height: 100%;
}

.elementor-8712 .elementor-element.elementor-element-c1ca176 .nxt-img.bg-img {
    background-image: url("../../img/persimia-hero.jpg");
    background-size: cover;
}

.elementor-8712 .elementor-element.elementor-element-c1ca176 .call-action.next:before {
    background-color: #02010194;
}

.elementor-8712 .elementor-element.elementor-element-c1ca176 .call-action.next .content h6 {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-8712 .elementor-element.elementor-element-c1ca176 .call-action.next .content h6 span {
    color: inherit;
}

.elementor-8712 .elementor-element.elementor-element-c1ca176 .call-action.next .content h2 {
    letter-spacing: 1px;
    -webkit-text-stroke-color: var(--e-global-color-33236d48);
}

@media(min-width:768px) {
    .elementor-8712 .elementor-element.elementor-element-3ebdc05 {
        width: 17.829%;
    }

    .elementor-8712 .elementor-element.elementor-element-6c54433 {
        width: 82.171%;
    }

    .elementor-8712 .elementor-element.elementor-element-f6aab60 {
        width: 100%;
    }

    .elementor-8712 .elementor-element.elementor-element-7709614 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-8712 .elementor-element.elementor-element-12d9160 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-02bee95 {
        padding: 0px 20px 0px 20px;
    }

    .elementor-8712 .elementor-element.elementor-element-2d3ccd0 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-9201fa4 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-b5ba69e {
        padding: 20px 20px 20px 20px;
    }

    .elementor-8712 .elementor-element.elementor-element-44d4865 {
        padding: 0px 20px 0px 20px;
    }

    .elementor-8712 .elementor-element.elementor-element-b00ef56 {
        padding: 0px 20px 0px 20px;
    }

    .elementor-8712 .elementor-element.elementor-element-cbbca3d {
        padding: 0px 20px 0px 20px;
    }
}

@media(max-width:767px) {
    .elementor-8712 .elementor-element.elementor-element-273cdd3>.elementor-container {
        min-height: 370px;
    }

    .elementor-8712 .elementor-element.elementor-element-12d9160 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-2b17cf3 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-8712 .elementor-element.elementor-element-3ebdc05 {
        width: 100%;
    }

    .elementor-8712 .elementor-element.elementor-element-3ebdc05>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-2d3ccd0 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-6c54433 {
        width: 100%;
    }

    .elementor-8712 .elementor-element.elementor-element-6c54433>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-6c54433>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-9201fa4 .elementor-heading-title {
        font-size: var(--e-global-typography-6aa87d7-font-size);
        line-height: var(--e-global-typography-6aa87d7-line-height);
        letter-spacing: var(--e-global-typography-6aa87d7-letter-spacing);
        word-spacing: var(--e-global-typography-6aa87d7-word-spacing);
    }

    .elementor-8712 .elementor-element.elementor-element-f6aab60>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-00a7d70>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-02ee89c img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }

    .elementor-8712 .elementor-element.elementor-element-edc1e6d>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-1a42ff9 img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }

    .elementor-8712 .elementor-element.elementor-element-e475721>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-279c5b9 img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }

    .elementor-8712 .elementor-element.elementor-element-2c65c04>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-666e648 img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }

    .elementor-8712 .elementor-element.elementor-element-2a349dc>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8712 .elementor-element.elementor-element-40204a7 img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }

    .elementor-8712 .elementor-element.elementor-element-c27c84f img {
        max-width: 60%;
        border-radius: 200px 200px 200px 200px;
    }
}